body {
  background-color: #282c34;
}

.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-header {
  width: 100%;
  color: #fff;
}

main {
  height: -webkit-fill-available;
}

main,
.chart-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.chart {
  width: 400px;
  margin-bottom: 50px;
  background: #272525;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px #2b3bcf;
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 32px;
  }

  .chart {
    width: 280px;
  }
}
